.description-continer {
    padding: 5%;
    text-align: left;
}

h1, h3, h4 {
    color: #c17168;
}

.detail {
    color: #6f6f6f !important;
}

.list-tittle {
    margin-top: 5%;
}

.list-group-item {
    border: white;

}

input {
    width: 5% !important;
    margin: 2%;
    color: #c17168;
    border-radius: .25rem;
    border: 1px solid #c17168;
}

.col-md-3, .col-md-2 {
    padding-right: 0% !important;
    padding-left: 0% !important;
}

.tab-content {
    margin-bottom: 3%;
}

.tab-content>.active {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
