.container {
    margin-top: 10% !important; 
}

.container a {
    font-style: italic;
    font-weight: bold;
    color: #fe6b59;
    padding-left: 10px;
    align-items: center;
}

.search-input {
    width: 100% !important;
}

.form-inline .form-control {
    color: #fe6b59 !important;
    border: 1px solid #FEBD59;
    border-radius: 1rem;
}