.container {
    margin-top: 10% !important; 
}

.container .left {
    text-align: left;
}

.container a {
    font-style: italic;
    font-weight: bold;
    color: #fe6b59;
    padding-left: 10px;
}

.form-inline .form-control {
    width: 90% !important;
    color: #fe6b59 !important;
    border: 1px solid #FEBD59;
    border-radius: 1rem;
}

.form-inline img {
    max-width: 3% !important;
}

.form-inline img:active {
    width: 2% !important;
}