.container {
    margin-top: 10% !important; 
}

.container table {
    width: 100%;
}

.link {
    color: #6f6f6f !important;
    font-style: normal !important;
    font-weight: normal !important;
}

.list-container {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
}

.table thead th  {
    border-bottom: 1px solid #FEBD59 !important;
    border-top: white;
    border-style:unset;
    background-color: white;
    color: #fe6b59;
}

.table td  {
    border-bottom: 1px solid #febc5998 !important;
    border-top: white;
    background-color: white;
}