.container {
    margin-top: 10% !important; 
}

.container table {
    width: 90%;
}

.table thead th  {
    border-bottom: 1px solid #FEBD59 !important;
    border-top: white;
    border-style:unset;
    background-color: white;
    color: #FEBD59;
}

.table td  {
    border-bottom: 1px solid #febc5998 !important;
    border-top: white;
    background-color: white;
}