.container {
    margin-top: 10% !important; 
}

.container table {
    width: 90%;
}

.description-continer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.nav-tabs .nav-link {
    color: #fe6b59 !important;
}
